*{
    padding: 0;
    margin: 0;
}

body{
    background-color: lightgrey;
    font-family: sans-serif;
    height: 500vh;

}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    background-color: white;
    align-items: center;
}

header h1{
    color: grey;
    border-bottom: 3px solid blue;
}

ul li{
    list-style: none;
}

ul li a{
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: grey;
    border-bottom: 3px solid blue;
}

section{
    width: 800px;
    height: 400px;
    background-color: white;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid grey;
}

section h1{
    color: blue;
    padding: 30px;
    margin-bottom: 30px;
    font-size: 35px;
}

section .token-container, .reportRequest-container, .button-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 500px;
    padding: 10px;
}

section .token-container, .reportRequest-container{
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    color: grey;
}

section .token-container input, .reportRequest-container select{
    outline: none;
    height: 35px;
    border-radius: 5px;
    padding: 0px 10px;
    border: 2px solid grey;
    font-size: 14px;
}

section .button-container button{
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    color: white;
    background-color: blue;
    letter-spacing: 2px;
    cursor: pointer;
    padding: 0x 10px;
}

.fixedTableHead {
    overflow-y: auto;
    height: 800px;
 }
 .fixedTableHead thead th{
    position: sticky;
    top:0;
 }
table {
    border-collapse: collapse;
}
th {
    background-color:blue;
    Color:white;
    position:sticky;
}
table#wanList {
     counter-reset: line 0;
}
table#wanList tbody tr {
    counter-increment: line; 
}
table#wanList tbody tr td:first-child::before {     
    content: counter(line);    
 }

 tr :first-child{
    color:white;
 }
 tr ::before{
    color: gray;
 }

th, td, tr {
    width:150px;
    text-align:center;
    border:1px solid grey;
    padding:5px;    
}

.wan-data {
    border-right:hidden;
}
.tbl-wan-data {
    border-collapse:separate;
    border-spacing:0 15px;
}
h2, h4 {
    color:grey;
}